# Python virtual environment
/venv
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/
.vscode/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/

# Environment variables
.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db